.App {
  text-align: center;
  padding: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canvas {
  width: 100%;
  height: 15vh;
}

button {
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  background-color: #444;
  color: #fff;
  transition: background 0.2s;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

button:not(:disabled):hover {
  background-color: #555;
}